*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0e0a0a;
  background-image: url('images/Diwali.jpg');
  
}

/* ///////////..utility classes../////////// */

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: small;
}

.btn-primary {
  color: #fff;
  background: #16a083;
}

.btn-primary:hover {
  background: #117964;
  transition: background 0.3s ease-in-out;
}

/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #960d0d;
  position: fixed;
  width: 100%;
  background: #0e0a0a;
  color: rgb(6, 227, 28);
  opacity: 0.85;
  height: 50px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
}

.logo {
  order: 1;
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
}

/* ............//// Showcase styling ////......... */

.showcase-area {
  height: 50vh;
  background: linear-gradient(
      rgba(11, 2, 2, 0.144),
      rgba(21, 5, 5, 0.336)
    ),
    url("images/Alia-Bhat.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(-150%);
  animation: about-text-animation 1s ease-in-out forwards;
}

.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.6rem;
}

.main-title {
  text-transform: uppercase;
  margin-top: 1.5em;
  color: white;
}
@media (max-width: 768px) {
    .navbar {
      opacity: 0.95;
    }
  
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
      display: block;
    }
  
    .navbar-container {
      display: block;
      position: relative;
      height: 64px;
    }
  
    .navbar-container input[type="checkbox"] {
      position: absolute;
      display: block;
      height: 32px;
      width: 30px;
      top: 20px;
      left: 20px;
      z-index: 5;
      opacity: 0;
    }
  
    .navbar-container .hamburger-lines {
      display: block;
      height: 23px;
      width: 35px;
      position: absolute;
      top: 17px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .navbar-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: #333;
    }
  
    .navbar-container .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar .menu-items {
      padding-top: 100px;
      background: black;
      height: 100vh;
      max-width: 300px;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      margin-left: -40px;
      padding-left: 50px;
      transition: transform 0.5s ease-in-out;
      box-shadow: 5px 0px 10px 0px #aaa;
    }
  
    .navbar .menu-items li {
      margin-bottom: 1.5rem;
      font-size: 1.3rem;
      font-weight: 500;
    }
  
    .logo {
      position: absolute;
      top: 5px;
      right: 15px;
      font-size: 2rem;
    }
    /* ..........////Food category///........... */
  
  #food {
    padding: 5rem 0 10rem 0;
    background-color: black;
    color: white;
  }
  
  #food h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: white;
  }
  
  .food-container {
    display: flex;
    justify-content: space-between;
  }
  
  .food-container img {
    display: block;
    width: 100%;
    margin: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
  }
  
  .img-container {
    margin: 0 1rem;
    position: relative;
  }
  
  .img-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;
  }
  
  .img-content h3 {
    color: white;
    font-size: 2.2rem;
  }
  
  .img-content a {
    font-size: 1.2rem;
  }
  
  .img-container::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    opacity: 0;
    z-index: 1;
  
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
  }
  
  .img-container:hover::after {
    opacity: 1;
    transform: scaleY(1);
  }
  
  .img-container:hover .img-content {
    opacity: 1;
    top: 40%;
  }
  
  /* .........../Food Menu/............ */
  
  .food-menu-heading {
    text-align: center;
    font-size: 3.4rem;
    font-weight: 400;
    color: white;
    background: black;
  }
  
  .food-menu-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;
    color: white;
    background: black;
  }
  
  .food-menu-container img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  
  .food-menu-item {
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
  }
  
  .food-description {
    margin: auto 1.5rem;
  }
  
  .font-title {
    font-size: 1.8rem;
    font-weight: 400;
    color: white;
  }
  
  .food-description p {
    font-size: 1.4rem;
    color: #555;
    font-weight: 500;
  }
  
  .food-description .food-price {
    color: #117964;
    font-weight: 700;
  }
  
    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(35deg);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-35deg);
    }
  
    /* ......./ food /......... */
  
    .food-container {
      flex-direction: column;
      align-items: stretch;
    }
  
    .food-type:not(:last-child) {
      margin-bottom: 3rem;
    }
  
    .food-type {
      box-shadow: 5px 5px 10px 0 #aaa;
    }
  
    .img-container {
      margin: 0;
    }
  }
  .card{
    width: 80vh;
    padding: 20px;
    border-radius: 5px;
    box-shadow: black;
    padding:2px 16px;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px;
    margin: auto;
}

  
  @media (max-width: 500px) {
    html {
      font-size: 65%;
    }
  
    .navbar .menu-items li {
      font-size: 1.6rem;
    }
  
    .testimonial-container {
      flex-direction: column;
      text-align: center;
    }
  
    .food-menu-container img {
      margin: auto;
    }
  
    .food-menu-item {
      flex-direction: column;
      text-align: center;
    }
  
    .form-container {
      width: 90%;
    }
  
    .contact-container {
      display: flex;
      flex-direction: column;
    }
  
    .contact-img {
      width: 90%;
      margin: 3rem auto;
    }
  
    .logo {
      position: absolute;
      top: 06px;
      right: 15px;
      font-size: 3rem;
    }
  
    .navbar .menu-items li {
      margin-bottom: 2.5rem;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1200px) {
    .img-container h3 {
      font-size: 1.5rem;
    }
  
    .img-container .btn {
      font-size: 0.7rem;
    }
  }
  
  @media (orientation: landscape) and (max-height: 500px) {
    .showcase-area {
      height: 50vmax;
    }
  }